footer{
 background: #f2f2f2 ; 
 padding: 40px 0;  
 
}
footer li{
    list-style: none;
    font-size: 13px;
    margin-bottom:15px;
}
footer a{
    text-decoration:none;
    color:#818181
}

.text-secondary{
    margin-bottom: 20px;
}


